<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#top">Words Stats Project</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li class="active">
                        <a href="/pages/coverage/index.html" target="_blank">Coverage</a>
                    </li>
                    <li class="active">
                        <a href="https://github.com/mekhovov/words_stat" target="_blank">Source</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>