<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h1>Words Stats</h1>
        <!-- <p class="lead">Write an app that allows to user to convert celcius to fahrenheit.</p> -->
            Write a Web-Service, which accepts a post request with a parameter "text". This parameter can be any string. <br>
            It returns a json, which contains the 5 most frequent words from this text with the count of their occurence. <br>
            E.g. text=hello hello hello my my name is returns { "hello" : 3, "my" : 2, "name" : 1, "is" : 1 }
    </div>
</header>